<footer class="text-muted">
    <div class="container">
        <p></p>
        <p class="text-center"><i>Twaddle</i> is a <i>CodeKata</i> exploring technologies such as Spring Cloud Stream, ElasticSearch, Kibana, and RabbitMQ.</p>
        <p></p>
    </div>
</footer>
</body>
</html>