{{>header}}

<main role="main" class="container">
    <div class="container">
        <h1 class="mt-5 display-4">#{{hashTag}}</h1>
        <p class="lead">What are twaddlers saying about <b>{{hashTag}}</b>? Probably nothing of value.</p>
    </div>

    <div class="row mt-5 justify-content-center" id="twaddle-container"></div>

    {{>twaddle}}
</main>

<script>
    const hashTag = '{{hashTag}}';
    const twaddlesUrl = `/api/hashtags/${hashTag}`;
    const twaddleElement = $('#a-twaddle');
    const twaddleContainer = $('#twaddle-container');

    $(document).ready(function () {
        $.get(twaddlesUrl).done(onTwaddles);

        function onTwaddles(data) {
            data.twaddles.reverse().forEach(x => populateTwaddle(x, false));
        }

        function populateTwaddle(data) {
            let twaddleElementClone = twaddleElement.clone();
            twaddleElementClone.find('#twaddle-text').html(twaddleAndLinkifiedHashTags(data.text));
            twaddleElementClone.find('#twaddle-created-at').html('Submitted by ' + userLink(data.username, data.userId) + ', at ' + data.createdAt);
            twaddleElementClone.removeAttr('hidden');

            twaddleContainer.prepend(twaddleElementClone);
        }

        function userLink(username, userId) {
            return `<a href="/users/${userId}">${username}</a>`;
        }

        function twaddleAndLinkifiedHashTags(text) {
            return text.replace(/#(\S*)/g,'<a href="/twaddles/$1">#$1</a>');
        }
    });
</script>
