<div class="card w-75 mb-3">
    <div class="card-body">
        <p class="card-text">LOREM IPSUM!!!</p>
        <p class="card-text"><small class="text-muted">Twaddled at yolo</small></p>
    </div>
</div>
