<div hidden id="a-twaddle" class="card w-75 mb-3">
    <div class="card-body">
        <p class="card-text" id="twaddle-text"></p>
        <p class="card-text"><small class="text-muted" id="twaddle-created-at"></small></p>
    </div>
</div>
