<div class="card w-50 mb-3 text-center">
    <div class="card-body">
        <p class="card-text"><img class="rounded-circle" src="https://ui-avatars.com/api/?name={{username}}" alt="Avatar"></p>
        <h5 class="card-title"><a href="/users/{{userId}}">{{username}}</a></h5>
        <p class="card-text"><small class="text-muted">User ID: {{userId}}</small></p>
    </div>
</div>
